.App {
  text-align: center;
}
.images {
  display: flex;
  justify-content: center;
  /* background-color: black;
  color: white; */
  text-align: left;
}
.images img {
  width: 350px;
  height: 350px;
  border-radius: 10%;
  padding: 25px;
}
